name: Tools
env:
  CI: true
  FORCE_COLOR: 1
  PLAYWRIGHT_BROWSERS_PATH: ${{ github.workspace }}/ms-playwright
on:
  push:
    branches:
      - main
    paths:
      - 'packages/tools/**'
      - '.github/workflows/tools.yml'
      - 'pnpm-lock.yaml'
  pull_request:
    paths:
      - 'packages/tools/**'
      - '.github/workflows/tools.yml'
      - 'pnpm-lock.yaml'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: latest
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm -r --filter metamask-testing-tools run lint
      - run: pnpm -r --filter metamask-testing-tools exec depcheck
      - run: pnpm -r --filter metamask-testing-tools exec playwright install --with-deps
      - run: pnpm -r --filter metamask-testing-tools run test
        env:
          GITHUB_TOKEN: ${{ github.token }}
